<h1>New Recipe</h1>
<div class="form-div">
	<form action="/recipes" method="post">
		<label>Name:</label><br>
		<input type="text" name="name"><br>
		<label>Ingredients:</label><br>
		<input type="text" name="ingredients"><br>
		<label>Method:</label><br>
		<input type="text" name="method"><br>
		<label>Cuisine:</label><br>
		<input type="text" name="cuisine"><br>
		<label>Portions:</label><br>
		<input type="text" name="portions"><br>
		<input type="submit" value="Submit">
	</form>
</div>